<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="g13.gui" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:name="g13.gui.MainActivity" android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--created by foxel at 2014-06-11 11:15:38-->
        <activity android:hardwareAccelerated="false" android:name="g13.gui.ListActivity"/>
        <!--created by Aismael at 2014-06-15 13:18:53-->
        <activity android:name=".clear"/>
        <service android:enabled="true" android:exported="false" android:name="g13.message.logic.service.StompCommunicationService"/>
    </application>
</manifest>
