<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="g13.gui" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>
    <application android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:name="g13.gui.MainActivity" android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--created by foxel at 2014-06-08 13:06:09-->
        <activity android:name=".LoggedInActivity"/>
        <!--created by foxel at 2014-06-08 15:21:43-->
        <activity android:name=".ChatActivity"/>
        <!--created by foxel at 2014-06-08 15:27:23-->
        <activity android:name=".NotLoggedInActivity"/>
    </application>
</manifest>
